In [37]:
NUM_SHUFFLES = 30
FIGWIDTH = 8
ALPHA = 0.01
LOAD_FROM_PICKLE = False
PICKLE = "results/compas_race_100_reps.pkl"

In [38]:
import itertools

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from tqdm import notebook as tqdm
from scipy import stats
from sklearn.model_selection import train_test_split
from joblib import Parallel, delayed
from statsmodels.stats.anova import AnovaRM
from statsmodels.stats.multicomp import pairwise_tukeyhsd

from model_zoo import model_zoo, renaming_dict, fit_args
from utils import infer_from
from utils import log_losses
from utils import metrics_dict_to_dataframe
from utils import convert_max_disparity_to_wide, get_latex_table
from disparity import compute_emm, compute_anovas, max_disparity
from plotting import plot_stat_heatmaps, plot_vuln_dists
from loaders.compas import prepare_compas

import plot_params

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Data prep

In [39]:
df = pd.read_csv("data/compas/compas-scores-two-years.csv")

In [40]:
data = prepare_compas("data/compas/compas-scores-two-years.csv",
                      dummified=False,
                      drop_first=True,
                      drop_duplicates=True)

def process_for_fit(data):
    X = pd.get_dummies(
        data[[col for col in data.columns if col != "Ground Truth"]],
        drop_first=True).astype(int)
    y = data["Ground Truth"]
    return X, y

Removed 2561 duplicates: 6172 -> 3611
There are no duplicates.

In [41]:
class ControlClassifier:
    """
    Task-specific control (data-independent) classifier.
    
    Outputs 1 if Prior Counts is greater than 0.
    """
    def __init__(self):
        pass
        
    def fit(self, *args, **kwargs):
        pass
    
    def predict(self, xs, *args, **kwargs):
        return xs[:, 0] > 0
    
    def predict_proba(self, xs, *args, **kwargs):
        p = self.predict(xs)
        p = np.expand_dims(p, 1)
        return np.hstack([1-p, p])
    
ControlClassifier().predict_proba(np.array([[0, 1], [1, 0]]))
model_zoo["control"] = lambda: ControlClassifier()

In [42]:
model_zoo.keys()

dict_keys(['lr', 'lr_dm', 'lr_eo', 'lr_erp', 'nn_6', 'nn_32', 'nn_100', 'nn_500', 'control'])

In [43]:
subgroups = ['African-American', 'Caucasian', 'Hispanic', 'Other', 'Asian', 'Native American']
subgroups_short = ["AA", "CA", "HI", "OT", "AS", "NA"]

## Run experiments

In [44]:
def score(model, X, y_true):
    y_pred = model.predict(X.values if isinstance(X, pd.DataFrame) else X)
    return (y_pred == y_true).mean()

def run_vuln_estimator(y_train, preds_train, y_test, preds_test):
    """Subgroup-aware Yeom's estimator."""
    losses_train = log_losses(y_train, preds_train)
    losses_test = log_losses(y_test, preds_test)
    threshold = losses_train.mean()
    vulns = np.concatenate([losses_train < threshold, losses_test >= threshold])
    return vulns.mean()

In [45]:
X, y = process_for_fit(data)
models = ["control", "lr", "nn_6", "nn_32", "lr_dm", "lr_eo"]
subgroup_label = "Race"
parallel = True
experiment_results = {}
model_tests = {}

for model_name in models:
    print(model_name)
    model_fn = model_zoo[model_name]
    model_fit_args = fit_args.get(model_name) or {}
    
    def run_iter(rep, rng, **model_fit_args):
        # Train model.
        train_indices, test_indices = train_test_split(data.index, test_size=0.5, random_state=rng)
        X_train, y_train = X.loc[train_indices], y.loc[train_indices]
        X_test, y_test = X.loc[test_indices], y.loc[test_indices]
        if model_fit_args.get("sensitive"):
            model_fit_args = dict(sensitive_features=data.loc[train_indices, subgroup_label])
        clf = model_fn()
        clf.fit(X_train.values, y_train.values, **model_fit_args)

        results = []
        for subgroup in ["All"] + subgroups:
            # Model info.            
            if subgroup == "All":
                group_train_indices = train_indices
                group_test_indices = test_indices
            else:
                group_train_indices = data.loc[train_indices].query(f"{subgroup_label} == '{subgroup}'").index
                group_test_indices = data.loc[test_indices].query(f"{subgroup_label} == '{subgroup}'").index
            
            X_group_train, y_group_train = X_train.loc[group_train_indices], y_train.loc[group_train_indices]
            X_group_test, y_group_test = X_test.loc[group_test_indices], y_test.loc[group_test_indices]
            
            # Model info.
            target_train_acc = score(clf, X_group_train, y_group_train)
            target_test_acc = score(clf, X_group_test, y_group_test)
            overfitting_gap = target_train_acc - target_test_acc
            
            # Vulnerability.
            vuln = run_vuln_estimator(
                y_group_train, infer_from(clf, X_group_train),
                y_group_test, infer_from(clf, X_group_test)
            )
            
            results.append(dict(rep=rep,
                               vuln=vuln,
                               subgroup=subgroup,
                               target_train_acc=target_train_acc,
                               target_test_acc=target_test_acc,
                               overfitting_gap=overfitting_gap))
            
        return results
    
    reps = range(NUM_SHUFFLES)
    rngs = [np.random.RandomState(i) for i in enumerate(reps)]
    it = tqdm.tqdm(list(zip(reps, rngs)))
    
    # Run experiments and collect results.
    if parallel:
        collected_subgroup_vulns = Parallel(n_jobs=8, verbose=1)(delayed(run_iter)(rep, rng, **model_fit_args)
                                              for rep, rng in it)
    else:
        collected_subgroup_vulns = []
        for rep, rng in it:
            collected_subgroup_vulns.append(run_iter(rep, rng, **model_fit_args))

    model_results = pd.DataFrame(itertools.chain(*collected_subgroup_vulns))
    
    # Compute ANOVA p-value right away.
    anova = AnovaRM(model_results.query("subgroup != 'All'"),
        depvar="vuln", subject="rep", within=["subgroup"])
    res = anova.fit()
    f, p = (
        res.anova_table.loc["subgroup", "F Value"],
        res.anova_table.loc["subgroup", "Pr > F"]
    )
    print(f"p={p:.4f}\n")
    
    # Save experimental results for summaries and followup tests.
    experiment_results[model_name] = model_results.assign(model=model_name, f=f, p=p)

control

  0%|          | 0/30 [00:00<?, ?it/s]

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.

p=0.6822

lr

[Parallel(n_jobs=8)]: Done  30 out of  30 | elapsed:    5.2s finished

  0%|          | 0/30 [00:00<?, ?it/s]

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.

p=0.0270

nn_6

[Parallel(n_jobs=8)]: Done  30 out of  30 | elapsed:    1.6s finished

  0%|          | 0/30 [00:00<?, ?it/s]

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.

p=0.2472

nn_32

[Parallel(n_jobs=8)]: Done  30 out of  30 | elapsed:    7.0s finished

  0%|          | 0/30 [00:00<?, ?it/s]

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.

p=0.0000

lr_dm

[Parallel(n_jobs=8)]: Done  30 out of  30 | elapsed:    5.0s finished

  0%|          | 0/30 [00:00<?, ?it/s]

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.

p=0.1569

lr_eo

[Parallel(n_jobs=8)]: Done  30 out of  30 | elapsed:  1.4min finished

  0%|          | 0/30 [00:00<?, ?it/s]

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.

p=0.6170

[Parallel(n_jobs=8)]: Done  30 out of  30 | elapsed:  2.5min finished

In [46]:
renaming_dict["control"] = "Control"

In [47]:
summary_data = pd.concat(experiment_results.values()).replace(renaming_dict)
summary_data.query("subgroup == 'All'").groupby(["model"]).agg({
    "p": "mean",
    "target_test_acc": ["mean", "std"],
    "overfitting_gap": ["mean", "std"],
    "vuln": ["mean", "std"],
}).reindex([renaming_dict[model_name] for model_name in experiment_results.keys()]).rename(columns={
    "model": "Model",
    "target_test_acc": "Test acc.",
    "overfitting_gap": "Gen. gap",
    "vuln": "Vulnerability",
})

                                 p Test acc.            Gen. gap            \
                              mean      mean       std      mean       std
model
Control                   0.682154  0.571502  0.007927 -0.003155  0.015858
Logistic Regression (LR)  0.026996  0.640181  0.007652  0.005692  0.013533
6-Neuron NN               0.247195  0.635216  0.010853  0.009973  0.013981
32-Neuron NN              0.000043  0.639000  0.007776  0.016624  0.015228
Fair LR (Dem. Parity)     0.156861  0.622684  0.009565  0.004260  0.018591
Fair LR (Equalized Odds)  0.616988  0.613658  0.019200  0.002925  0.016173

                         Vulnerability
                                  mean       std
model
Control                       0.498403  0.007929
Logistic Regression (LR)      0.502963  0.006861
6-Neuron NN                   0.503997  0.007311
32-Neuron NN                  0.508289  0.008385
Fair LR (Dem. Parity)         0.503406  0.009843
Fair LR (Equalized Odds)      0.500646  0.009656

In [48]:
summary_data = pd.concat(experiment_results.values()).replace(renaming_dict)
summary_data.query("subgroup != 'All'").groupby(["model", "subgroup"]).agg({
    "target_test_acc": ["mean", "std"],
    "overfitting_gap": ["mean", "std"],
    "vuln": ["mean", "std"],
}).rename(columns={
    "model": "Model",
    "target_test_acc": "Test acc.",
    "overfitting_gap": "Gen. gap",
    "vuln": "Vulnerability",
}).style.format('{:.2f}')

In [49]:
for model_name, df in experiment_results.items():
    p = df.p.mean()
    if p < ALPHA:
        tukey = pairwise_tukeyhsd(endog=df.query("subgroup != 'All'").vuln,\
                                  groups=df.query("subgroup != 'All'").subgroup,
                                  alpha=ALPHA)
        print(f"{model_name} {p=:.4f}")
        print(tukey)

nn_32 p=0.0000
          Multiple Comparison of Means - Tukey HSD, FWER=0.01
=======================================================================
     group1           group2     meandiff p-adj   lower   upper  reject
-----------------------------------------------------------------------
African-American           Asian   0.0039    0.9 -0.0584  0.0663  False
African-American       Caucasian   0.0027    0.9 -0.0596  0.0651  False
African-American        Hispanic   0.0084    0.9  -0.054  0.0707  False
African-American Native American   0.0789  0.001  0.0165  0.1412   True
African-American           Other   0.0053    0.9 -0.0571  0.0677  False
           Asian       Caucasian  -0.0012    0.9 -0.0635  0.0612  False
           Asian        Hispanic   0.0044    0.9 -0.0579  0.0668  False
           Asian Native American    0.075  0.001  0.0126  0.1373   True
           Asian           Other   0.0014    0.9  -0.061  0.0638  False
       Caucasian        Hispanic   0.0056    0.9 -0.0567   0.068  False
       Caucasian Native American   0.0761  0.001  0.0138  0.1385   True
       Caucasian           Other   0.0026    0.9 -0.0598  0.0649  False
        Hispanic Native American   0.0705 0.0021  0.0082  0.1329   True
        Hispanic           Other  -0.0031    0.9 -0.0654  0.0593  False
 Native American           Other  -0.0736 0.0011 -0.1359 -0.0112   True
-----------------------------------------------------------------------